* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(255 255 255);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;



}

header {
    background-color: rgb(185 207 229);
    margin-bottom: 130px;
    margin-top: 40px;

}

.container-header {

    max-width: 1200px;
    width: 1100px;
    margin: 0px auto;
    position: relative;
    top: 60px;

}

.container-header h1 {
    color: black;
    font-size: 4rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.container-header p {
    text-align: start;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.row {
    display: flex;
}


.col1 {
    flex-basis: 30%;
}

.col-img {
    flex-basis: 70%;
}

.col-img img {
    width: 100%;
    display: block;

}



.logo,
.start {
    display: flex;
}

.logo ul,
.start ul {
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
}

.logo ul li a,
.start ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(141 141 141);
    font-size: 0.7rem;
    align-items: center;
}

.logo img {
    width: 90px;
    margin-right: 20px;
}

.btn {
    color: white;
    background-color: rgb(34 100 246);
    padding: 5px 10px;
    align-items: center;
    border: 0px;


}

.btn-small {

    font-size: 0.7rem;

}

.btn-header {
    font-size: 0.9rem;
    width: 190px;
    margin-bottom: 30px;
    padding: 10px 10px;
}

.arrow-header {
    margin-top: 70px;

    font-size: 2.2rem;
}

.container-main {
    width: 920px;

    margin: auto;
}

.container-main h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.radio-btn {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    column-gap: 20px;



}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card {
    flex-basis: 30%;


    color: black;
    border: 1px solid rgb(141 141 141);


}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(141 141 141);
    margin-bottom: 30px;
}

.card-body {
    padding: 0 20px;
}

.card-body h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.card-body .price {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body .month {
    font-style: oblique;
    margin-bottom: 50px;
    color: rgb(141 141 141);
}


.card-body ul,
.card-body h4 {

    margin-bottom: 40px;


}

.card-body ul li {
    display: flex;

    margin-bottom: 20px;
    list-style: none;
    column-gap: 5px;

}

.btn-card {
    padding: 10px 20px;
    margin-bottom: 35px;
    font-size: 0.9rem;
    text-align: center;
}

.text-card {

    margin-bottom: 50px;
}

#link {
    text-decoration: underline;
    color: blue;

}

.card-body hr {
    margin-bottom: 20px;
    width: 50px;
    color: rgb(141 141 141);
}

.blue {
    color: rgb(34 100 246);
    align-items: center;
}

.single {
    display: flex;
    justify-content: space-between;



}

.single p,
.single h4 {

    padding-bottom: 20px;

}

.single p {
    font-size: 0.9rem;
}

.single .btn-card {
    height: 100%;
}

.four .row {
    margin-top: 150px;
    margin-bottom: 130px;

}

.four .col1 h3 {
    margin: 20px 0;
    padding-top: 30px;

}

.four .row .col-img {
    flex-basis: 60%;
    margin-right: 40px;
}

.four .row .col-img img {
    width: 100%;
    display: block;

}

.four .col1 p {
    color: rgb(141 141 141);
    margin-bottom: 30px;

}

.btn-grey {
    background-color: white;
    color: rgb(141 141 141);
    padding: 10px 20px;
    font-size: 0.9rem;
    margin-bottom: 30px;
    border: solid 1px rgb(141 141 141);
    width: 60%;
}


.five h2 {
    margin-bottom: 40px;
}

.five h3 {
    margin-top: 10px;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.five p {
    font-size: 1rem;
    color: rgb(141 141 141);
}

.five .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.five .card {
    flex-basis: 30%;
    margin-bottom: 50px;
    border: 0;

}

.five .card img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.six {
    display: flex;
}

.six .col1 {
    flex-basis: 70%;
    margin-bottom: 120px;

}

.six h2 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 2.3rem;
}



.seven .row .col1 {
    display: flex;
    height: (100vw / 3);
    flex-wrap: wrap;
    flex-grow: 1;

}

.seven .row .col1 .square {
    display: flex;
    flex: 50%;
    aspect-ratio: 1/1;
    justify-content: center;
    padding: 4vw;

}

.seven .row .col1 .square img {
    display: block;
    width: 100%;
    filter: invert(1);

}

.seven .row .col-center {
    padding: 40px 40px;
    flex-grow: 2;
}

.seven .row .col-center .square img {
    display: block;
    width: 50%;
    margin-bottom: 40px;
    align-items: center;


}

.seven .row .col-center .square hr {
    display: block;
    width: 25%;

    color: rgb(141 141 141);
    margin-bottom: 40px;

}

/* .seven .row .col-center .square  p{
     
    width: 100px;
    margin-bottom: 40px;
} */














.eight {


    margin-bottom: 140px;
    background-color: rgb(185 207 229);
    padding: 110px 0;
}

.eight .container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
}

.eight .container-main .col1 {
    flex-basis: 50%;


}

.eight .container-main .btn {

    width: 250px;
    margin-bottom: 80px;
    border: 0;
}

.eight .container-main .col1 h2 {
    color: rgb(89 19 43);
    font-size: 2.3rem;
}

.nine {
    margin-bottom: 140px;

}

.nine h2 {
    margin-bottom: 60px;

}

.nine .container-main .card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 0;
    padding: 40px 0;
    font-weight: bold;
    padding-right: 30px;
}

footer {
    background-color: black;
    padding-top: 120px;
    color: white;

}

footer .container-main {
    background-color: black;

    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;


}

footer .container-main .col1 {
    flex-frow: 1;

}

footer .container-main .col1 h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

footer .container-main .col1 ul li {
    list-style: none;
    padding: 10px 0;
    font-size: 1rem;
}

footer .container-main .col1 ul {
    margin-bottom: 110px;
}

footer .container-main .col1 hr {
    width: 100px;

}

footer .language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    color: rgb(141 141 141);
    padding: 50px 0;
    font-size: 1rem;
}

#arrow-language {
    font-size: 10px;
    text-align: center;
}